@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    color: white;
    margin: 32px;
}
body{
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15pt;

}
main{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    text-align: center;
}
p{
    margin: 12px;
}
input{
    width: 30px;
    font-size: 16px;
    padding-left: 4px;
}
#mostrar{
    width: 250px;
    height: 300px;
    margin: auto;
}
div#container{
    overflow-y: auto; 
    border: 1px solid black; 
    width: 350px;
    margin: auto;
 }
input[type="button"]{
    width: 180px;
}